@import '_variables';

%al_success {
	width: 100%;
	background-color: $al-success;
	color: $al-success-text;
	border-radius: $one_percent_space;
	border: 2px solid $al-success-border;
}

%al_inform {
	width: 100%;
	background-color: $al-inform;
	color: $al-inform-text;
	border-radius: $one_percent_space;
	border: 2px solid $al-inform-border;
}

%al_advert {
	width: 100%;
	background-color: $al-advert;
	color: $al-advert-text;
	border-radius: $one_percent_space;
	border: 2px solid $al-advert-border;
}

%al_faillure {
	width: 100%;
	background-color: $al-fail;
	color: $al-fail-text;
	border-radius: $one_percent_space;
	border: 2px solid $al-fail-border;
}
