@import '_variables';

a {
	text-decoration: none;
	padding: 0;
}

.btn {
	display: inline-block;
	font-size: 1rem;
	padding: 2px;
	text-align: center;
	background-color: $btn-color;
//	border-width: 2px;
	border: 1px outset black;
	border-radius: 3px;
//	border-color: black;
}

.btn:hover {
	cursor: pointer;
	background-color: $btn-color-hover;
}

%btn-xl {
	width: 100%;
}

%btn-flat {
	border-radius: 0px;
	border: 0px;
}

%btn-fancy {
	 box-shadow: 0 1px 1px rgba(0,0,0,.2),0 2px 0 0 rgba(255,255,255,.7) inset;
}
