@import '_variables';
@import '_typos';
@import '_listes';
@import '_tables';
@import '_boutons';
@import 'mixins/_boutons';
@import '_alertes';
@import '_navigation';
@import '_composants';
@import '_grid';
@import 'mixins/_grid';

$red-btn-b: #610B0B;
$dred-btn-b: #BC1717;
$red-btn-border: #8A1010;
$red-btn: #FAB443;

$blue-btn-b: #B6D7DB;
$dblue-btn-b: #23D0E3;
$blue-btn-border: #57A7B0;
$blue-btn: #122F6E;

$green-btn-b: #BDDB97;
$dgreen-btn-b: #98D44A;
$green-btn-border: #0C8424;
$green-btn: #579A00;

.grid {
  @include make-container();
}

.grid-flex {
  @include make-flex-container();
}

.row {
  @include make-row();
}

.row-flex {
  @include make-flex-row();
}

.btn-small {
  @include btn-create-shape($small-btn,1px,2px,1px);
}

.btn-big {
  @include btn-create-shape($big-btn,3px,4px,3px);
}

.btn-red {
  @include btn-create-color($red-btn-b,$red-btn-border,$red-btn);
}

.btn-green {
  @include btn-create-color($green-btn-b,$green-btn-border,$green-btn);
}

.btn-blue {
  @include btn-create-color($blue-btn-b,$blue-btn-border,$blue-btn);
}

.al_success {
  @extend %al_success;
}

.al_inform {
  @extend %al_inform;
}

.al_advert {
  @extend %al_advert;
}

.al_faillure {
  @extend %al_faillure;
}

.btn-xl {
  @extend %btn-xl;
}

.btn-flat {
  @extend %btn-flat;
}

.btn-fancy {
  @extend %btn-fancy;
}

.content {
  @extend %content;
}

.boite {
  @extend %boite;
}

.jumbotron {
  @extend %jumbotron;
}

.listSquare {
  @extend %listSquare;
}

.listBlank {
  @extend %listBlank;
}

.ariane {
  @extend %ariane;
}

.navbar {
  @extend %navbar;
}

.pagination {
  @extend %pagination;
}

.active {
  @extend %active;
}

.disabled {
  @extend %disabled;
}

.sub {
  @extend %sub;
}

.textleft {
  @extend %textleft;
}

.textright {
  @extend %textright;
}

.textcenter {
  @extend %textcenter;
}

.textjustified {
  @extend %textjustified;
}

.textMajuscule {
  @extend %textMajuscule;
}

.textMinuscule {
  @extend %textMinuscule;
}
