%content {
	margin-top: ($menu_height)*1.4; //105px
	width: 80%;
	background-color: $page-b;
	padding: $normal-padrad;
	border-radius: $normal-padrad;
	margin-left: auto;
	margin-right: auto;
}

%boite {
	margin-left: 1%;
	background-color: white;
	font-size: $normal-font;
	padding: $normal-padrad;
	border: 2px solid $small-color;
	border-radius: 4px;
}

%jumbotron {
	width: 80%;
	border: 2px solid black;
	border-radius: $normal-padrad;
	background-color: $jumbotron;
	padding: $normal-padrad;
	margin: auto;
	&>h1 {
		line-height: 2.5rem;
		font-size: ($normal-font*2);
	}
	&>p {
		margin-top: ($normal-padrad*2);
		margin-bottom: ($normal-padrad*2);
		font-size: $normal-font;
	}
	&>button {
		font-size: $normal-font;
		padding: ($normal-padrad*0.6);
		text-align: center;
		background-color: #f4f7f8;
		border-width: 2px;
		border-radius: 3px;
		border-color: black;
		&:hover {
			cursor: pointer;
			background-color: #AAACAD;
		}
	}
}
