@mixin grid-column($cols,$nb_col,$bcolor) {
  width: ((100% - ($gutter*($nb_col - 1)))/$nb_col)*$cols+(($cols - 1)*$gutter);
  box-sizing: border-box;
  margin-left: $gutter;
  float: left;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: $bcolor;
  &:first-of-type {
    margin-left: 0;
  }
}

@mixin grid-flex-column($cols,$nb_col,$bcolor) {
  width: ((100% - ($gutter*($nb_col - 1)))/$nb_col)*$cols+(($cols - 1)*$gutter);
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: $gutter;
  box-sizing: border-box;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: $bcolor;
  &:first-of-type {
    margin-left: 0;
  }
}

@mixin grid-offset($cols,$nb-col) {
  margin-left: ((100% - ($gutter*($nb_col - 1)))/$nb_col)*$cols+(($cols+1)*$gutter);
  &:first-of-type {
    margin-left: ((100% - ($gutter*($nb_col - 1)))/$nb_col)*$cols+(($cols)*$gutter);
  }
}

@for $cols from 1 to $nbColumn+1 {
  .span-#{$cols}{
    @include grid-column($cols,$nbColumn,white);
  }
}

@for $cols from 1 to $nbColumn+1 {
  .span-f-#{$cols}{
    @include grid-flex-column($cols,$nbColumn,white);
  }
}

@for $cols from 1 to $nbColumn {
  .offset-#{$cols}{
    @include grid-offset($cols,$nbColumn);
  }
}

@mixin make-container() {
  clear: both;
  overflow: hidden;
}

@mixin make-flex-container() {
  display: flex;
  flex-direction: column;
}

@mixin make-row() {
  margin-top: $normal-padrad;
  margin-bottom: $normal-padrad;
  width: 100%;
  float: left;
}

@mixin make-flex-row() {
  margin-top: $normal-padrad;
  margin-bottom: $normal-padrad;
  width: 100%;
  flex-direction: row;
  display: inline-flex;
}
