header {
	background-color: $nav-color;
	color: #eeeeee;
	font-size: $header-font;
	height: $menu_height;
	position: fixed;
	width: 100%;
	top: 0;
}

%ariane {
	display: flex;
	border-radius: 0.2rem;
	padding: 0.2rem;
	border: 1px solid black;
	width: 60%;
	height: auto;
	text-align: center;
	overflow: hidden;
	& > li {
		display: flex;
		&:last-child > a:after {
			content: "";
		}
		& > a {
			display: block;
			height: 100%;
			&:after {
				content: " -->";
			}
		}
	}
}

%navbar {
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	width: 70%;
	float: right;
	& > li {
		text-decoration: none;
		color: #eeeeee;
		height: 100%;
		width: 31%;
		display: flex;
		& > a {
			height: 100%;
			line-height: $menu_height;
			width: 100%;
			color: black;
			text-align: center;
			&:hover {
				background-color: $nav-hover;
				-webkit-transition: all 0.8s ease-out; /*compatibilité chrome*/
   			-moz-transition: all 0.8s ease-out; /*compatibilité firefox*/
   			-o-transition: all 0.8s ease-out; /*compatibilité opéra*/
   			transition: all 0.8s ease-out; /* Autre navigateur */
			}
		}
	}
}

@media screen and (orientation: landscape) and (max-width: 1280px) {
	//$normal-font: $semi-small-font;
	%navbar {
		display: flex;
		float: none;
		margin-left: auto;
		margin-right: auto;
		& > li {
			text-decoration: none;
			& > a {
				line-height: ($menu_height / 3)*2; //50px
			}
		}
	}
	header {
		height: ($menu_height / 3)*2; //50px
		font-size: ($header-font / 6)*5; //1rem
	}
}

@media screen and (max-width: 800px) {
	//$normal-font: $small-font;
	%navbar {
		display: flex;
		float: none;
		margin-left: auto;
		margin-right: auto;
		& > li {
			text-decoration: none;
			& > a {
				line-height: ($menu_height / 2); //38px
			}
		}
	}
	header {
		height: ($menu_height / 2); //38px
		font-size: ($header-font / 6)*4; //0.8rem
	}
}

%pagination {
	@extend .listBlank;
	display: inline-flex;
	& > li {
		margin-left: 0;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		background-color: $nav-color;
		&.active {
			background-color: $active;
			color: white;
		}
		&:hover {
			background-color: $nav-hover;
			color: black;
		}
	}
}

%active {
	background-color: $active;
	color: white;
}

%disabled {
	color: grey;
}
