/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import '_variables';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
	&:before, &:after {
		content: '';
		content: none;
	}
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
	font-size: $normal-font;
}

/* Par contre à partir d'ici c'est MON framework !*/
/* @Author David Lebrun*/

h6 {
  font-size: ($normal-font*1.3);
  font-weight: 100;
}

h5 {
  font-size: ($normal-font*1.6);
  font-weight: 200;
}

h4 {
  font-size: ($normal-font*1.9);
  font-weight: 300;
}

h3 {
  font-size: ($normal-font*2.2);
  font-weight: 400;
}

h2 {
  font-size: ($normal-font*2.5);
  font-weight: 500;
}

h1 {
  font-size: ($normal-font*2.8);
  font-weight: 600;
}

%sub {
	font-size: $normal-font*0.6;
	color: $small-color;
  	&>mark {
  		background-color: $lcyan;
  	}
}

/*sous-titres*/
h1,h2,h3,h4,h5,h6 {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

small {
	font-size: $normal-font*0.6;
	color: $small-color;
}

/*paragraphes*/

p {
  margin-bottom: 6px;
}

/*balises de texte inline*/

mark {
  background-color: $nav-hover;
}

del {
  font-weight: ($bold-font / 3);
  color: $del-color;
}

small>mark {
  background-color: $lcyan;
}

ins {
  font-weight: $bold-font;
}

strong {
	font-weight: $bold-font;
	color: $color-strong;
}

em {
	font-style: italic;
}

abbr {
	font-style: oblique;
	font-weight: ($bold-font / 3)*2;
	text-decoration: underline;
}

blockquote {
	background-color: $jumbotron;
	color: $normal-font;
	font-style: italic;
	display: block;
	width: 93%;
	padding-right: 1%;
	padding-top: $normal_pad;
	padding-bottom: $normal_pad;
	padding-left: 2%;
	margin: 2%;
	border-radius: $normal_pad;
	&:before {
		content: "\"";
	}
	&:after {
		content: "\"";
	}
}

span {
	display: block;
}

code {
	margin-left: 1%;
	background-color: $code-color;
	font-size: $normal-font;
	padding: $normal-padrad;
	border: 2px solid $small-color;
	border-radius: 4px;
	display: block;
	margin-left: .5em;
	counter-reset: section;
	background-color: black;
	color: #cfcfcf; 
	& > span::before {
		counter-increment: section;                /* On incrémente le compteur section */
	  content: counter(section); /* On affiche le compteur */
		border-right: solid 1px grey;
		text-align: right;
		display: inline-block;
		width: 1.5em;
		padding: 0 .5em;
		margin-right: .5em;
	}
}

pre {
	display: block;
    font-family: monospace;
    white-space: pre-wrap;
    margin: 2%;
    width: 95%;
    padding: $normal_pad;
    border: solid 1px gray;
    border-radius: $normal_pad;
}

kbd {
	background-color: #f4f7f8;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0,0,0,.2),0 2px 0 0 rgba(255,255,255,.7) inset;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: inherit;
    padding: 2px 4px;
    white-space: nowrap;
}

a {
	text-decoration: none;
}

%textleft {
	text-align: left;
}

%textright {
	text-align: right;
}

%textcenter {
	text-align: center;
}

%textjustified {
	text-align: justify;
}

%textMajuscule {
	text-transform: uppercase;
    font-variant: small-caps;
}

%textMinuscule {
	text-transform: lowercase;
}
