$small-color: grey;
$lcyan: lightcyan;
$special-red: #610B0B;
$special-txt: #FAB443;
$btn-color: #f4f7f8;
$btn-color-hover: #AAACAD;
$del-color: #4558A4;
$code-color: #E4E6EE;
$color-strong: #797CB7;

$al-success: #D8E9C1;
$al-success-border: #7E9C58;
$al-success-text: #579A00;
$al-inform: #D0E6E9;
$al-inform-border: #57A7B0;
$al-inform-text: #122F6E;
$al-advert: #E4E0C3;
$al-advert-border: #D5BC04;
$al-advert-text: #A1914D;
$al-fail:  #D5B0B0;
$al-fail-border: #DB1010;
$al-fail-text:#DB1010;
$jumbotron: #D8E0FF;

$page-b: #F0F3FF;
$nav-color: #BCC1D4;
$nav-hover: #9FA9D3;
$active: #8C99CF;

$bold-font: 600;
$normal_pad: 10px;
$small-btn: 0.7rem;
$normal-font: 1rem;
$normal-padrad: 1rem;
$big-btn: 1.3rem;
$header-font: 1.2rem;
$menu_height: 75px;

$one_percent_space: 1%;
$two_percent_space: 2%;

//pour les changement de taille dus au navigateur
$semi-small-font: 0.85rem;
$small-font: 0.7rem;

@media screen and (orientation: landscape) and (max-width: 1280px) {
  $normal-font: $semi-small-font;
}

@media screen and (max-width: 800px) {
	$normal-font: $small-font;
}

$gutter: 2%;
$nbColumn: 8;
