@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  font-size: 1rem; }

/* Par contre à partir d'ici c'est MON framework !*/
/* @Author David Lebrun*/
h6 {
  font-size: 1.3rem;
  font-weight: 100; }

h5 {
  font-size: 1.6rem;
  font-weight: 200; }

h4 {
  font-size: 1.9rem;
  font-weight: 300; }

h3 {
  font-size: 2.2rem;
  font-weight: 400; }

h2 {
  font-size: 2.5rem;
  font-weight: 500; }

h1 {
  font-size: 2.8rem;
  font-weight: 600; }

.sub {
  font-size: 0.6rem;
  color: grey; }
  .sub > mark {
    background-color: lightcyan; }

/*sous-titres*/
h1, h2, h3, h4, h5, h6 {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; }

small {
  font-size: 0.6rem;
  color: grey; }

/*paragraphes*/
p {
  margin-bottom: 6px; }

/*balises de texte inline*/
mark {
  background-color: #9FA9D3; }

del {
  font-weight: 200;
  color: #4558A4; }

small > mark {
  background-color: lightcyan; }

ins {
  font-weight: 600; }

strong {
  font-weight: 600;
  color: #797CB7; }

em {
  font-style: italic; }

abbr {
  font-style: oblique;
  font-weight: 400;
  text-decoration: underline; }

blockquote {
  background-color: #D8E0FF;
  color: 1rem;
  font-style: italic;
  display: block;
  width: 93%;
  padding-right: 1%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2%;
  margin: 2%;
  border-radius: 10px; }
  blockquote:before {
    content: "\""; }
  blockquote:after {
    content: "\""; }

span {
  display: block; }

code {
  margin-left: 1%;
  background-color: #E4E6EE;
  font-size: 1rem;
  padding: 1rem;
  border: 2px solid grey;
  border-radius: 4px;
  display: block;
  margin-left: .5em;
  counter-reset: section;
  background-color: black;
  color: #cfcfcf; }
  code > span::before {
    counter-increment: section;
    /* On incrémente le compteur section */
    content: counter(section);
    /* On affiche le compteur */
    border-right: solid 1px grey;
    text-align: right;
    display: inline-block;
    width: 1.5em;
    padding: 0 .5em;
    margin-right: .5em; }

pre {
  display: block;
  font-family: monospace;
  white-space: pre-wrap;
  margin: 2%;
  width: 95%;
  padding: 10px;
  border: solid 1px gray;
  border-radius: 10px; }

kbd {
  background-color: #f4f7f8;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: inherit;
  padding: 2px 4px;
  white-space: nowrap; }

a {
  text-decoration: none; }

.textleft {
  text-align: left; }

.textright {
  text-align: right; }

.textcenter {
  text-align: center; }

.textjustified {
  text-align: justify; }

.textMajuscule {
  text-transform: uppercase;
  font-variant: small-caps; }

.textMinuscule {
  text-transform: lowercase; }

ul {
  display: list-item; }

li {
  margin-left: 20px;
  list-style: disc; }

.listSquare > li {
  list-style: square; }

.listBlank > li, .pagination > li {
  list-style: none; }

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%; }

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px; }

tr:nth-child(even) {
  background-color: #dddddd; }

tr:hover {
  background-color: rgba(0, 0, 0, 0.4); }

a {
  text-decoration: none;
  padding: 0; }

.btn {
  display: inline-block;
  font-size: 1rem;
  padding: 2px;
  text-align: center;
  background-color: #f4f7f8;
  border: 1px outset black;
  border-radius: 3px; }

.btn:hover {
  cursor: pointer;
  background-color: #AAACAD; }

.btn-xl {
  width: 100%; }

.btn-flat {
  border-radius: 0px;
  border: 0px; }

.btn-fancy {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset; }

.al_success {
  width: 100%;
  background-color: #D8E9C1;
  color: #579A00;
  border-radius: 1%;
  border: 2px solid #7E9C58; }

.al_inform {
  width: 100%;
  background-color: #D0E6E9;
  color: #122F6E;
  border-radius: 1%;
  border: 2px solid #57A7B0; }

.al_advert {
  width: 100%;
  background-color: #E4E0C3;
  color: #A1914D;
  border-radius: 1%;
  border: 2px solid #D5BC04; }

.al_faillure {
  width: 100%;
  background-color: #D5B0B0;
  color: #DB1010;
  border-radius: 1%;
  border: 2px solid #DB1010; }

header {
  background-color: #BCC1D4;
  color: #eeeeee;
  font-size: 1.2rem;
  height: 75px;
  position: fixed;
  width: 100%;
  top: 0; }

.ariane {
  display: flex;
  border-radius: 0.2rem;
  padding: 0.2rem;
  border: 1px solid black;
  width: 60%;
  height: auto;
  text-align: center;
  overflow: hidden; }
  .ariane > li {
    display: flex; }
    .ariane > li:last-child > a:after {
      content: ""; }
    .ariane > li > a {
      display: block;
      height: 100%; }
      .ariane > li > a:after {
        content: " -->"; }

.navbar {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  width: 70%;
  float: right; }
  .navbar > li {
    text-decoration: none;
    color: #eeeeee;
    height: 100%;
    width: 31%;
    display: flex; }
    .navbar > li > a {
      height: 100%;
      line-height: 75px;
      width: 100%;
      color: black;
      text-align: center; }
      .navbar > li > a:hover {
        background-color: #9FA9D3;
        -webkit-transition: all 0.8s ease-out;
        /*compatibilité chrome*/
        -moz-transition: all 0.8s ease-out;
        /*compatibilité firefox*/
        -o-transition: all 0.8s ease-out;
        /*compatibilité opéra*/
        transition: all 0.8s ease-out;
        /* Autre navigateur */ }

@media screen and (orientation: landscape) and (max-width: 1280px) {
  .navbar {
    display: flex;
    float: none;
    margin-left: auto;
    margin-right: auto; }
    .navbar > li {
      text-decoration: none; }
      .navbar > li > a {
        line-height: 50px; }

  header {
    height: 50px;
    font-size: 1rem; } }
@media screen and (max-width: 800px) {
  .navbar {
    display: flex;
    float: none;
    margin-left: auto;
    margin-right: auto; }
    .navbar > li {
      text-decoration: none; }
      .navbar > li > a {
        line-height: 37.5px; }

  header {
    height: 37.5px;
    font-size: 0.8rem; } }
.pagination {
  display: inline-flex; }
  .pagination > li {
    margin-left: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #BCC1D4; }
    .pagination > li.active {
      background-color: #8C99CF;
      color: white; }
    .pagination > li:hover {
      background-color: #9FA9D3;
      color: black; }

.active {
  background-color: #8C99CF;
  color: white; }

.disabled {
  color: grey; }

.content {
  margin-top: 105px;
  width: 80%;
  background-color: #F0F3FF;
  padding: 1rem;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto; }

.boite {
  margin-left: 1%;
  background-color: white;
  font-size: 1rem;
  padding: 1rem;
  border: 2px solid grey;
  border-radius: 4px; }

.jumbotron {
  width: 80%;
  border: 2px solid black;
  border-radius: 1rem;
  background-color: #D8E0FF;
  padding: 1rem;
  margin: auto; }
  .jumbotron > h1 {
    line-height: 2.5rem;
    font-size: 2rem; }
  .jumbotron > p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1rem; }
  .jumbotron > button {
    font-size: 1rem;
    padding: 0.6rem;
    text-align: center;
    background-color: #f4f7f8;
    border-width: 2px;
    border-radius: 3px;
    border-color: black; }
    .jumbotron > button:hover {
      cursor: pointer;
      background-color: #AAACAD; }

.span-1 {
  width: 10.75%;
  box-sizing: border-box;
  margin-left: 2%;
  float: left;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-1:first-of-type {
    margin-left: 0; }

.span-2 {
  width: 23.5%;
  box-sizing: border-box;
  margin-left: 2%;
  float: left;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-2:first-of-type {
    margin-left: 0; }

.span-3 {
  width: 36.25%;
  box-sizing: border-box;
  margin-left: 2%;
  float: left;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-3:first-of-type {
    margin-left: 0; }

.span-4 {
  width: 49%;
  box-sizing: border-box;
  margin-left: 2%;
  float: left;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-4:first-of-type {
    margin-left: 0; }

.span-5 {
  width: 61.75%;
  box-sizing: border-box;
  margin-left: 2%;
  float: left;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-5:first-of-type {
    margin-left: 0; }

.span-6 {
  width: 74.5%;
  box-sizing: border-box;
  margin-left: 2%;
  float: left;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-6:first-of-type {
    margin-left: 0; }

.span-7 {
  width: 87.25%;
  box-sizing: border-box;
  margin-left: 2%;
  float: left;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-7:first-of-type {
    margin-left: 0; }

.span-8 {
  width: 100%;
  box-sizing: border-box;
  margin-left: 2%;
  float: left;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-8:first-of-type {
    margin-left: 0; }

.span-f-1 {
  width: 10.75%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 2%;
  box-sizing: border-box;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-f-1:first-of-type {
    margin-left: 0; }

.span-f-2 {
  width: 23.5%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 2%;
  box-sizing: border-box;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-f-2:first-of-type {
    margin-left: 0; }

.span-f-3 {
  width: 36.25%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 2%;
  box-sizing: border-box;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-f-3:first-of-type {
    margin-left: 0; }

.span-f-4 {
  width: 49%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 2%;
  box-sizing: border-box;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-f-4:first-of-type {
    margin-left: 0; }

.span-f-5 {
  width: 61.75%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 2%;
  box-sizing: border-box;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-f-5:first-of-type {
    margin-left: 0; }

.span-f-6 {
  width: 74.5%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 2%;
  box-sizing: border-box;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-f-6:first-of-type {
    margin-left: 0; }

.span-f-7 {
  width: 87.25%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 2%;
  box-sizing: border-box;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-f-7:first-of-type {
    margin-left: 0; }

.span-f-8 {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 2%;
  box-sizing: border-box;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-f-8:first-of-type {
    margin-left: 0; }

.offset-1 {
  margin-left: 14.75%; }
  .offset-1:first-of-type {
    margin-left: 12.75%; }

.offset-2 {
  margin-left: 27.5%; }
  .offset-2:first-of-type {
    margin-left: 25.5%; }

.offset-3 {
  margin-left: 40.25%; }
  .offset-3:first-of-type {
    margin-left: 38.25%; }

.offset-4 {
  margin-left: 53%; }
  .offset-4:first-of-type {
    margin-left: 51%; }

.offset-5 {
  margin-left: 65.75%; }
  .offset-5:first-of-type {
    margin-left: 63.75%; }

.offset-6 {
  margin-left: 78.5%; }
  .offset-6:first-of-type {
    margin-left: 76.5%; }

.offset-7 {
  margin-left: 91.25%; }
  .offset-7:first-of-type {
    margin-left: 89.25%; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  font-size: 1rem; }

/* Par contre à partir d'ici c'est MON framework !*/
/* @Author David Lebrun*/
h6 {
  font-size: 1.3rem;
  font-weight: 100; }

h5 {
  font-size: 1.6rem;
  font-weight: 200; }

h4 {
  font-size: 1.9rem;
  font-weight: 300; }

h3 {
  font-size: 2.2rem;
  font-weight: 400; }

h2 {
  font-size: 2.5rem;
  font-weight: 500; }

h1 {
  font-size: 2.8rem;
  font-weight: 600; }

.sub {
  font-size: 0.6rem;
  color: grey; }
  .sub > mark {
    background-color: lightcyan; }

/*sous-titres*/
h1, h2, h3, h4, h5, h6 {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; }

small {
  font-size: 0.6rem;
  color: grey; }

/*paragraphes*/
p {
  margin-bottom: 6px; }

/*balises de texte inline*/
mark {
  background-color: #9FA9D3; }

del {
  font-weight: 200;
  color: #4558A4; }

small > mark {
  background-color: lightcyan; }

ins {
  font-weight: 600; }

strong {
  font-weight: 600;
  color: #797CB7; }

em {
  font-style: italic; }

abbr {
  font-style: oblique;
  font-weight: 400;
  text-decoration: underline; }

blockquote {
  background-color: #D8E0FF;
  color: 1rem;
  font-style: italic;
  display: block;
  width: 93%;
  padding-right: 1%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2%;
  margin: 2%;
  border-radius: 10px; }
  blockquote:before {
    content: "\""; }
  blockquote:after {
    content: "\""; }

span {
  display: block; }

code {
  margin-left: 1%;
  background-color: #E4E6EE;
  font-size: 1rem;
  padding: 1rem;
  border: 2px solid grey;
  border-radius: 4px;
  display: block;
  margin-left: .5em;
  counter-reset: section;
  background-color: black;
  color: #cfcfcf; }
  code > span::before {
    counter-increment: section;
    /* On incrémente le compteur section */
    content: counter(section);
    /* On affiche le compteur */
    border-right: solid 1px grey;
    text-align: right;
    display: inline-block;
    width: 1.5em;
    padding: 0 .5em;
    margin-right: .5em; }

pre {
  display: block;
  font-family: monospace;
  white-space: pre-wrap;
  margin: 2%;
  width: 95%;
  padding: 10px;
  border: solid 1px gray;
  border-radius: 10px; }

kbd {
  background-color: #f4f7f8;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: inherit;
  padding: 2px 4px;
  white-space: nowrap; }

a {
  text-decoration: none; }

.textleft {
  text-align: left; }

.textright {
  text-align: right; }

.textcenter {
  text-align: center; }

.textjustified {
  text-align: justify; }

.textMajuscule {
  text-transform: uppercase;
  font-variant: small-caps; }

.textMinuscule {
  text-transform: lowercase; }

ul {
  display: list-item; }

li {
  margin-left: 20px;
  list-style: disc; }

.listSquare > li {
  list-style: square; }

.listBlank > li, .pagination > li {
  list-style: none; }

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%; }

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px; }

tr:nth-child(even) {
  background-color: #dddddd; }

tr:hover {
  background-color: rgba(0, 0, 0, 0.4); }

a {
  text-decoration: none;
  padding: 0; }

.btn {
  display: inline-block;
  font-size: 1rem;
  padding: 2px;
  text-align: center;
  background-color: #f4f7f8;
  border: 1px outset black;
  border-radius: 3px; }

.btn:hover {
  cursor: pointer;
  background-color: #AAACAD; }

.btn-xl {
  width: 100%; }

.btn-flat {
  border-radius: 0px;
  border: 0px; }

.btn-fancy {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset; }

.al_success {
  width: 100%;
  background-color: #D8E9C1;
  color: #579A00;
  border-radius: 1%;
  border: 2px solid #7E9C58; }

.al_inform {
  width: 100%;
  background-color: #D0E6E9;
  color: #122F6E;
  border-radius: 1%;
  border: 2px solid #57A7B0; }

.al_advert {
  width: 100%;
  background-color: #E4E0C3;
  color: #A1914D;
  border-radius: 1%;
  border: 2px solid #D5BC04; }

.al_faillure {
  width: 100%;
  background-color: #D5B0B0;
  color: #DB1010;
  border-radius: 1%;
  border: 2px solid #DB1010; }

header {
  background-color: #BCC1D4;
  color: #eeeeee;
  font-size: 1.2rem;
  height: 75px;
  position: fixed;
  width: 100%;
  top: 0; }

.ariane {
  display: flex;
  border-radius: 0.2rem;
  padding: 0.2rem;
  border: 1px solid black;
  width: 60%;
  height: auto;
  text-align: center;
  overflow: hidden; }
  .ariane > li {
    display: flex; }
    .ariane > li:last-child > a:after {
      content: ""; }
    .ariane > li > a {
      display: block;
      height: 100%; }
      .ariane > li > a:after {
        content: " -->"; }

.navbar {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  width: 70%;
  float: right; }
  .navbar > li {
    text-decoration: none;
    color: #eeeeee;
    height: 100%;
    width: 31%;
    display: flex; }
    .navbar > li > a {
      height: 100%;
      line-height: 75px;
      width: 100%;
      color: black;
      text-align: center; }
      .navbar > li > a:hover {
        background-color: #9FA9D3;
        -webkit-transition: all 0.8s ease-out;
        /*compatibilité chrome*/
        -moz-transition: all 0.8s ease-out;
        /*compatibilité firefox*/
        -o-transition: all 0.8s ease-out;
        /*compatibilité opéra*/
        transition: all 0.8s ease-out;
        /* Autre navigateur */ }

@media screen and (orientation: landscape) and (max-width: 1280px) {
  .navbar {
    display: flex;
    float: none;
    margin-left: auto;
    margin-right: auto; }
    .navbar > li {
      text-decoration: none; }
      .navbar > li > a {
        line-height: 50px; }

  header {
    height: 50px;
    font-size: 1rem; } }
@media screen and (max-width: 800px) {
  .navbar {
    display: flex;
    float: none;
    margin-left: auto;
    margin-right: auto; }
    .navbar > li {
      text-decoration: none; }
      .navbar > li > a {
        line-height: 37.5px; }

  header {
    height: 37.5px;
    font-size: 0.8rem; } }
.pagination {
  display: inline-flex; }
  .pagination > li {
    margin-left: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #BCC1D4; }
    .pagination > li.active {
      background-color: #8C99CF;
      color: white; }
    .pagination > li:hover {
      background-color: #9FA9D3;
      color: black; }

.active {
  background-color: #8C99CF;
  color: white; }

.disabled {
  color: grey; }

.content {
  margin-top: 105px;
  width: 80%;
  background-color: #F0F3FF;
  padding: 1rem;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto; }

.boite {
  margin-left: 1%;
  background-color: white;
  font-size: 1rem;
  padding: 1rem;
  border: 2px solid grey;
  border-radius: 4px; }

.jumbotron {
  width: 80%;
  border: 2px solid black;
  border-radius: 1rem;
  background-color: #D8E0FF;
  padding: 1rem;
  margin: auto; }
  .jumbotron > h1 {
    line-height: 2.5rem;
    font-size: 2rem; }
  .jumbotron > p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1rem; }
  .jumbotron > button {
    font-size: 1rem;
    padding: 0.6rem;
    text-align: center;
    background-color: #f4f7f8;
    border-width: 2px;
    border-radius: 3px;
    border-color: black; }
    .jumbotron > button:hover {
      cursor: pointer;
      background-color: #AAACAD; }

.span-1 {
  width: 10.75%;
  box-sizing: border-box;
  margin-left: 2%;
  float: left;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-1:first-of-type {
    margin-left: 0; }

.span-2 {
  width: 23.5%;
  box-sizing: border-box;
  margin-left: 2%;
  float: left;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-2:first-of-type {
    margin-left: 0; }

.span-3 {
  width: 36.25%;
  box-sizing: border-box;
  margin-left: 2%;
  float: left;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-3:first-of-type {
    margin-left: 0; }

.span-4 {
  width: 49%;
  box-sizing: border-box;
  margin-left: 2%;
  float: left;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-4:first-of-type {
    margin-left: 0; }

.span-5 {
  width: 61.75%;
  box-sizing: border-box;
  margin-left: 2%;
  float: left;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-5:first-of-type {
    margin-left: 0; }

.span-6 {
  width: 74.5%;
  box-sizing: border-box;
  margin-left: 2%;
  float: left;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-6:first-of-type {
    margin-left: 0; }

.span-7 {
  width: 87.25%;
  box-sizing: border-box;
  margin-left: 2%;
  float: left;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-7:first-of-type {
    margin-left: 0; }

.span-8 {
  width: 100%;
  box-sizing: border-box;
  margin-left: 2%;
  float: left;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-8:first-of-type {
    margin-left: 0; }

.span-f-1 {
  width: 10.75%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 2%;
  box-sizing: border-box;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-f-1:first-of-type {
    margin-left: 0; }

.span-f-2 {
  width: 23.5%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 2%;
  box-sizing: border-box;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-f-2:first-of-type {
    margin-left: 0; }

.span-f-3 {
  width: 36.25%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 2%;
  box-sizing: border-box;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-f-3:first-of-type {
    margin-left: 0; }

.span-f-4 {
  width: 49%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 2%;
  box-sizing: border-box;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-f-4:first-of-type {
    margin-left: 0; }

.span-f-5 {
  width: 61.75%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 2%;
  box-sizing: border-box;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-f-5:first-of-type {
    margin-left: 0; }

.span-f-6 {
  width: 74.5%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 2%;
  box-sizing: border-box;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-f-6:first-of-type {
    margin-left: 0; }

.span-f-7 {
  width: 87.25%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 2%;
  box-sizing: border-box;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-f-7:first-of-type {
    margin-left: 0; }

.span-f-8 {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 2%;
  box-sizing: border-box;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white; }
  .span-f-8:first-of-type {
    margin-left: 0; }

.offset-1 {
  margin-left: 14.75%; }
  .offset-1:first-of-type {
    margin-left: 12.75%; }

.offset-2 {
  margin-left: 27.5%; }
  .offset-2:first-of-type {
    margin-left: 25.5%; }

.offset-3 {
  margin-left: 40.25%; }
  .offset-3:first-of-type {
    margin-left: 38.25%; }

.offset-4 {
  margin-left: 53%; }
  .offset-4:first-of-type {
    margin-left: 51%; }

.offset-5 {
  margin-left: 65.75%; }
  .offset-5:first-of-type {
    margin-left: 63.75%; }

.offset-6 {
  margin-left: 78.5%; }
  .offset-6:first-of-type {
    margin-left: 76.5%; }

.offset-7 {
  margin-left: 91.25%; }
  .offset-7:first-of-type {
    margin-left: 89.25%; }

.grid {
  clear: both;
  overflow: hidden; }

.grid-flex {
  display: flex;
  flex-direction: column; }

.row {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  float: left; }

.row-flex {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  flex-direction: row;
  display: inline-flex; }

.btn-small {
  font-size: 0.7rem;
  padding: 1px;
  border-width: 1px;
  border-radius: 2px; }

.btn-big {
  font-size: 1.3rem;
  padding: 3px;
  border-width: 3px;
  border-radius: 4px; }

.btn-red {
  background-color: #610B0B;
  border-color: #8A1010;
  color: #FAB443; }
  .btn-red:hover {
    background-color: #1c0303;
    cursor: pointer; }

.btn-green {
  background-color: #BDDB97;
  border-color: #0C8424;
  color: #579A00; }
  .btn-green:hover {
    background-color: #99c75e;
    cursor: pointer; }

.btn-blue {
  background-color: #B6D7DB;
  border-color: #57A7B0;
  color: #122F6E; }
  .btn-blue:hover {
    background-color: #83bbc2;
    cursor: pointer; }

/*# sourceMappingURL=index.css.map */
