@import "_variables";

@mixin btn-create-color($b-color,$brd-color,$color) {
	background-color: $b-color;
	border-color: $brd-color;
	color: $color;
	&:hover {
		background-color: darken($b-color, 15%);
		cursor: pointer;
	}
}

@mixin btn-create-shape($ft-size,$padding,$brd-radius,$brd-width) {
	font-size: $ft-size;
	padding: $padding;
	border-width: $brd-width;
	border-radius: $brd-radius;
}
